 .common_section{
    background: linear-gradient(#000000d7,#000000a1),url("https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0px;

    h2{
        color: white;
    }
 }