.paginationBttns{
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
}

.paginationBttns a{
    padding: 4px 20px;
    background-color: #df2020;
    color: #fff !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.paginationBttns a:hover{
    background-color: #212245;
}